# Core dependencies
numpy==1.24.3
pandas==1.5.3
matplotlib==3.7.1
seaborn==0.12.2

# Scikit-learn for ML models & preprocessing
scikit-learn==1.2.2
xgboost==1.7.5
imbalanced-learn==0.10.1

# Pipeline & feature selection
joblib==1.2.0

# For hyperparameter tuning
optuna==3.2.0

# Miscellaneous utilities
tqdm==4.65.0